.container {
  width: 600px;
  display: block;
  margin: auto;
}
.wrapper {
  border: 1px solid #0ba1bf;
  border-radius: 80px;
  box-shadow: 1px 1px 15px;
  background-color: #f9faff;
}

.weather-days {
  margin-top: 10px;
  text-align: center;
}
.search,
.my-city {
  background-color: var(--default-color);
}

li:first-letter {
  text-transform: capitalize;
}
#main-city:first-letter {
  text-transform: capitalize;
}
#forecast {
  margin-top: 15px;
  margin-bottom: -20px;
}

strong {
  text-shadow: 0.5px 1px black;
}
